<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modern-normalize.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    {%  block head %}{% endblock %}
    <title>Document</title>
</head>
<body>
    <script type="module" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
    <header class="d-flex justify-content-center py-3"> 
        <ul class="nav nav-pills"> 
            <li class="nav-item"><a href="{{ url_for('home.home') }}" class="nav-link active" aria-current="page">Home</a></li> 
            <li class="nav-item"><a href="{{ url_for('academias.academias') }}" class="nav-link">Academias</a></li>
            <li class="nav-item"><a href="{{ url_for('sobre.sobre') }}" class="nav-link">Sobre</a></li> 
        </ul> 
    </header> 
    
    {%  block body %}
    
    {% endblock %}
</body>
</html>